.banner-container{
    background-image: url('https://i.ibb.co/wQJS2Vn/bg.jpg');
    margin-top: 75px;
}
.paragraph{
text-align: left;
font-weight: 700;
margin-top: 50px;
margin-right: 100px;
color: rgb(82, 85, 90);
}
.button{
    /* margin-top: 40x; */
    margin-bottom: 40px;
    /* margin: 20px; */
    background-color: maroon;
    border-radius: 10px;
    color: rgb(240, 248, 240);
    padding: 10px;
    border: 0;
}