.header{
    margin-top: 0px;
    /* margin-bottom: 19px; */
    /* background-color: black; */
}
.displayName{
    /* margin-left: 50px; */
}

.nav{
    /* background-color: rgba(1, 74, 92, 0.87); */
}

@media only  screen and  (max-width:991px){
    .header{
        padding: 10px 20px;
        flex-direction: column;

    }
}
@media only  screen and  (max-width:688px){
    .header{
        padding: 10px 20px;
        flex-direction: column;

    }
}